In [1]:
import glob
import pandas as pd

In [2]:
filenames = glob.glob("*.csv")

In [4]:
filenames[0]

'infoLegacy.csv'

In [3]:
pd.read_csv(filenames[0])

,scraping_date,scraping_time,floorplan_name,bedroom,bathroom,apartment_number,rent_min,rent_max,move_in_month,move_in_day,move_in_year
0,2022/05/17,22,a3_p,1,1,800,1188,1586,5,17,2022.0
1,2022/05/17,22,a2_p,1,1,700,1240,1572,5,17,2022.0
2,2022/05/17,22,a3,1,1,800,1279,1611,5,17,2022.0
3,2022/05/17,22,a3_e,1,1,800,1296,1552,5,17,2022.0
4,2022/05/17,22,b2dh_p,2,1000,1490,1830,5,17,2022,NaN
...,...,...,...,...,...,...,...,...,...,...,...
848,2022/05/19,15,ct_e,3,1350,2209,2981,8,18,2022,NaN
849,2022/05/19,15,ct_e,3,1350,2215,3004,8,19,2022,NaN
850,2022/05/19,15,ct_e,3,1350,2221,3028,8,20,2022,NaN
851,2022/05/19,15,ct_e,3,1350,2227,3052,8,21,2022,NaN
852,2022/05/19,15,ct_e,3,1350,2233,3075,8,22,2022,NaN